body{
    margin: 0;
    background-color: rgb(49, 47, 43);
    font-family: "Chess Sans", sans-serif;
}

header{
    position: fixed;
    z-index: 1000;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 12%;
    background-color: rgb(0, 0, 0);
    text-shadow: 0px 0px 5px rgb(44, 42, 42);
    border-radius: 100px;
}

.icon{
    position: absolute;
    left: 1%;
    top: 13%;
    width: 5%;
    height: 70%;
}

.main{
    position: absolute;
    left: 7%;
    top: 3%;
    color: white;
    transition: color 0.2s, text-shadow 0.2s;
}

.main:hover{
    cursor: default;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px white;
}

.play{
    position: absolute;
    right: 40%;
    top: 35%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.2s, text-shadow 0.2s;
}

.practice{
    position: absolute;
    right: 30%;
    top: 35%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.2s, text-shadow 0.2s;
}

.puzzles{
    position: absolute;
    right: 20%;
    top: 35%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.2s, text-shadow 0.2s;
}

.about{
    position: absolute;
    right: 10%;
    top: 35%;
    color: rgb(255, 255 , 255);
    text-decoration: none;
    transition: color 0.2s, text-shadow 0.2s;
}

.practice:hover, .puzzles:hover, .about:hover, .play:hover{
    cursor: pointer;
    color: rgb(185, 242, 115);
    text-shadow: 0px 0px 5px white;
}

#board{ 
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
}

#promotion-popup{
    position:fixed;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.6);
    z-index:9999;
}

.hidden{
    display:none !important;
}

.promotion-box{
    background:#222;
    padding:30px;
    border-radius:15px;
    color:white;
    text-align:center;
}

.promotion-pieces{
    display:flex;
    gap:20px;
    margin-top:20px;
}

.promotion-pieces img{
    width:70px;
    cursor:pointer;
    transition:.2s;
}

.promotion-pieces img:hover{
    transform:scale(1.1);
}

.hide{
    display: none !important;
}

.settings{
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 70%;
    background-color: rgb(28, 27, 25);
    border-radius: 10px;
    border: 2px solid rgb(27, 27, 26);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.white-username{
    position: absolute;
    top: 12.5%;
    left: 6%;
    font-size: 1 rem;
    color: rgb(161, 158, 158);
    font-weight: 700;
}

#white-username{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 30%;
    height: 7%;
    color: rgb(161, 158, 158);
    background-color: rgb(53, 53, 53);
    border: 1px solid rgb(35, 35, 35);
    border-radius: 10px;
    border: none;
    outline: none;  
    box-shadow: none;
    padding-left: 2%;
}

.black-username{
    position: absolute;
    top: 12.5%;
    right: 22%;
    font-size: 1 rem;
    color: rgb(161, 158, 158);
    font-weight: 700;
}

#black-username{
    position: absolute;
    top: 20%;
    right: 5%;
    width: 30%;
    height: 7%;
    color: rgb(161, 158, 158);
    background-color: rgb(53, 53, 53);
    border: 1px solid rgb(35, 35, 35);
    border-radius: 10px;
    border: none;
    outline: none;  
    box-shadow: none;
    padding-left: 2%;
}

.white-time{
    position: absolute;
    top: 40%;
    left: 6%;
    font-size: 1 rem;
    color: rgb(161, 158, 158);
    font-weight: 700;
}   

.black-time{
    position: absolute;
    top: 40%;
    right: 26%;
    font-size: 1 rem;
    color: rgb(161, 158, 158);
    font-weight: 700;
}

#white-minutes{
    position: absolute;
    top: 47%;
    left: 5%;
    width: 12%;
    height: 7%;
    color: rgb(161, 158, 158);
    background-color: rgb(53, 53, 53);
    border: 1px solid rgb(35, 35, 35);
    border-radius: 10px;
    border: none;
    outline: none;  
    box-shadow: none;
    padding-left: 2%;
}

#white-inc{
    position: absolute;
    top: 47%;
    left: 23%;
    width: 12%;
    height: 7%;
    color: rgb(161, 158, 158);
    background-color: rgb(53, 53, 53);
    border: 1px solid rgb(35, 35, 35);
    border-radius: 10px;
    border: none;
    outline: none;  
    box-shadow: none;
    padding-left: 2%;
}

#white-minutes:focus, #white-inc:focus, #black-minutes:focus, #black-inc:focus{
    outline: none;
    box-shadow: none;
}

#black-minutes{
    position: absolute;
    top: 47%;
    right: 23%;
    width: 12%;
    height: 7%;
    color: rgb(161, 158, 158);
    background-color: rgb(53, 53, 53);
    border: 1px solid rgb(35, 35, 35);
    border-radius: 10px;
    border: none;
    outline: none;  
    box-shadow: none;
    padding-left: 2%;
}

#black-inc{
    position: absolute;
    top: 47%;
    right: 5%;
    width: 12%;
    height: 7%;
    color: rgb(161, 158, 158);
    background-color: rgb(53, 53, 53);
    border: 1px solid rgb(35, 35, 35);
    border-radius: 10px;
    border: none;
    outline: none;  
    box-shadow: none;
    padding-left: 2%;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.vertical-line {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 2px;
    height: 55%;
    background-color: rgb(79, 73, 73);
}

#start-game{
    position: absolute;
    left: 40%;
    top: 75%;
    width: 20%;
    height: 10%;
    background-color: rgb(123, 195, 35);
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.3s ease;
}

#start-game:hover{
    cursor: pointer;
    color: white;
    box-shadow: 0 4px 15px rgba(123,195,35,.3);
    transform: translateY(-2px);
    transition: 0.5s;
}

